.CartContainer{
    display: flex;
    justify-content: space-between;
}
.Cart{
    height: 450px;
    border: 1px solid  rgb(223, 228, 235);
    border-radius: 6px;
    margin-top: 20px;
    overflow: hidden;
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: transform 400ms ease;
}
.Cart > img{
    margin-top: 20px;
    padding-top: 20px;
    width: 252px;
    height: 232px;
}
.Cart h2{
font-weight: 600;
font-size: 22px;
color: #222222;
padding: 20px 0 0 0 ;
}
.Cart p{
    color:  #666974;
    font-size: 16px;
    padding: 20px 10px;
}
.Cart:hover{
    transform: scale(104%);
    cursor: pointer;
}